@import url('./app/App.css');
@import url('./features/assignment/components/AssignmentGrid.css');
@import url('./features/assignment/components/assignmentCard.css');
@import url('./features/assignment/components/DetailPanel.css');
@import url('./features/assignment/components/AssignmentTab.css');

#root {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 1rem;
}